@*
    The Home page
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>
<br /><br />
<div class="justify-content-center text-center">
    <img src="~/img/joelhiltonheadshot.jpg" style="height: 200px"/>
</div>
