@*
    The form page for adding data to the database
*@
@{
    ViewData["Title"] = "Movie Form";
}

@model Movie

<div class="text-center">
    <h1 class="display-4">Movie Collection Form</h1>
</div>
<div class="container">
    <form method="post">
        <input type="hidden" asp-for="MovieId" />
        <div class="row mb-3">
            <div class="col-sm-6">
                <label asp-for="CategoryId" class="form-label">Category <small>(optional)</small></label>
                <select class="form-select" asp-for="CategoryId">
                    <option value="" selected>Select an option</option>
                   @*
                       Adds all the categories in the form
                   *@
                    @foreach (Category c in ViewBag.Categories)
                    {
                        <option value="@c.CategoryId">@c.CategoryName</option>
                    }
                </select>
            </div>
            @*
                Title
            *@
            <div class="col-sm-6">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" type="text" class="form-control" id="Title" name="Title">
            </div>
        </div>

        <div class="row mb-3">
            @*
                Year
            *@
            <div class="col-sm-6">
                <label asp-for="Year" class="form-label">Year</label>
                <input asp-for="Year" type="number" class="form-control" id="Year" name="Year">
            </div>
            @*
                Director
            *@
            <div class="col-sm-6">
                <label asp-for="Director" class="form-label">Director <small>(optional)</small></label>
                <input asp-for="Director" type="text" class="form-control" id="Director" name="Director">
            </div>
        </div>

        <div class="row mb-3">
            @*
                Rating
            *@
            <div class="col-sm-6">
                <label asp-for="Rating" class="form-label">Rating <small>(optional)</small></label>
                <select asp-for="Rating"class="form-select" id="Rating" name="Rating">
                    <option value="" selected>Select an option</option>
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                    <option value="NR">NR</option>
                    <option value="TV-14">TV-14</option>
                    <option value="TV-PG">TV-PG</option>
                    <option value="TV-G">TV-G</option>
                    <option value="TV-Y7">TV-Y7</option>
                    <option value="UR">UR</option>



                </select>
            </div>
            @*
                Edited
            *@
            <div class="col-sm-6">
                <label asp-for="Edited" class="form-label">Edited</label>
                <select asp-for="Edited" class="form-select" id="Edited" name="Edited">
                    <option value="" selected>Select an option</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            @*
                Lent to:
            *@
            <div class="col-sm-6">
                <label asp-for="LentTo" class="form-label">Lent to: <small>(optional)</small></label>
                <input asp-for="LentTo" type="text" class="form-control" id="LentTo" name="LentTo">
            </div>
            @*
                Plex
            *@
            <div class="col-sm-6">
                <label asp-for="CopiedToPlex" class="form-label">Copied to Plex?</label>
                <select asp-for="CopiedToPlex" class="form-select">
                    <option value="" selected>Select an option</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            @*
                Notes
            *@
            <div class="col-sm-12">
                <label asp-for="Notes" class="form-label">Notes <small>(optional)</small></label>
                <input asp-for="Notes" type="text" class="form-control" id="Notes" name="Notes">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        
        @*
            A little tad of data validation
        *@
        <div asp-validation-summary="All"></div>
    </form>
</div>
